@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f7f7f7;
    color: #333;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
}

button {
    padding: 0 6px;
    margin-right: 4px;
    border: #0060ff 1px solid;
    border-radius: 8px;
    background-color: white;
    color: black;
    transition: 0.2s;
}

button:hover {
    background-color: #0060ff;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;

    padding: 0 2rem;
}

.content {
    max-width: 600px;

    padding: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
}
